<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <nav class="navigation">
    <ul>
      <li> <a href="{{ route('home') }}" class="{{ request.matchesRoute('home') ? 'active':'' }}">Home</a></li>
      <li> <a href="{{ route('users') }}" class="{{ request.matchesRoute('users') ? 'active':'' }}">Les users du blog </a></li>
    </ul>
  </nav>
  <h1> Liste des users du blog </h1>
  <div id="app">
    <ul>
      @each(user in await findUsers())
        <li>
          <article>
            <h2> {{ user.name }} </h2>
            <p> {{ user.email }} </p>
          </article>
      @end
    </ul>
  </div>
</body>
</html>
