@include('partials/header')

<h1> Liste des users du blog </h1>
<div id="app">
  <ul class="users">
    @each(user in await findUsers())
      <li>
        <article>
          <h2> {{ user.name }} </h2>
          <p> {{ user.email }} </p>
          <p>Inséré le {{ user.getFormattedDate() }}</p>
        </article>
    @end
  </ul>
</div>

@include('partials/footer')
